<!DOCTYPE html>
<html>
	<head>
		<!-- Name of tab. -->
		<title>
			RPi Webserver
		</title>

		<!-- Title and authors. -->
		<center>
			<h2>
				EEE3095S Practical 6
				<br>
				IoT Application
			</h2>
			<h3>
				By:
				<br>
				KTNRIO001 - Rio Katundulu
				<br>
				SLMAMI010 - Amin Slamang
			</h3>
		</center>
	
		<!-- Centering of buttons on the page-->
		<style>
			.Buttons
			{
				text-align: center;
			}
		</style>
	</head>
	<body>
		<!-- Container to hold all the buttons. -->
		<div class="Buttons">

			<!-- Button names explain functionality. -->
			<a href="{{ url_for('.sending') }}">
				<button>
					Sensor On
				</button>
			</a>

			<br>
			<br>
			
			<a href="{{ url_for('.not_sending') }}">
				<button>
					Sensor Off
				</button>
			</a>
			
			<br>
			<br>

			<a href="{{ url_for('.get_status') }}">
				<button>
					Status
				</button>
			</a>

			<br>
			<br>

			<a href="{{ url_for('.log') }}">
				<button>
					Log Check
				</button>
			</a>

			<br>
			<br>

			<a href="{{ url_for('.download_logs' ) }}">
				<button>
					Log Download
				</button>
			</a>

			<br>
			<br>

			<a href="{{ url_for('.exit') }}">
				<button>
					Exit
				</button>
			</a>
		</div>
	</body>
</html>
